body {
	background-image: url(/static/images/wood.png);
	font-family: sans-serif;
	overflow: hidden;
}

.songItem {
	cursor: pointer;
}

table {
	width: 100%;
}

thead th {
	text-align: center;
	height: 40px;
	font-weight: bold;
	background-color: rgba(255,255,255,0.5);
}

#playlist {
	overflow: auto;
	display: block;
}

tbody tr {
	height: 40px;
	background-color: rgba(255,255,255,0.2);
}

tbody tr.odd {
	background-color: rgba(255,255,255,0.3);
}

tbody tr:hover, tbody tr.active {
	background-color: rgba(255,255,255,0.4);
}

tbody tr td {
	text-align: center;
}

#filter {
	background-color: rgba(255,255,255,0.4);
	text-align: center;	
}

#filter input {
	height: 20px;
	margin: 3px 0px 3px 0px;
}

#filter span {
	cursor: pointer;
    background-color:#ededed;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    padding:5px 7px;
    text-decoration:none;
}

#filter span:hover {
    background-color:#dfdfdf;
}

